.card {
  background: #fff;
  border-radius: 2px;
  height: 340px;
  margin: 1rem;
  position: relative;
  width: 825px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
}

.container .card {
  margin-left: 150px;
}

.card > .img-container {
  height: 55%;
  overflow: hidden;
  text-align: center;
  background: #f8d8cfc9;
}
.card > .img-container > img {
  width: 95%
}

.card > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
}
.card-title {
  font-family: 'IM Fell English', serif;
  font-size: 23px;
  color: #5D5C61;
}

.card-text {
  font-Family: 'Open Sans Condensed, sans-serif',   
}

.btn.btn-primary {
  background-color: #41B3A3;
  font-family: 'Open Sans Condensed, sans-serif';  
  border: none;
  color: whitesmoke;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  
}

::placeholder {
  font-family: 'Open Sans Condensed, sans-serif';    

} 


  
  
  
