
.container-fluid {
    padding-top:105px;
}

.btn.btn-primary.form {
    background-color: #41B3A3;
    /* background-color: #64485C; */
    font-family: 'Open Sans Condensed, sans-serif';  
    border: none;
    color: whitesmoke;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}

::placeholder {
    font-family: 'Open Sans Condensed, sans-serif';    
}