/* styling for navbar */

.navbar {
    height: 140px;
    font-family: 'IM Fell English', serif;
}

#right-align.navbar-nav{
    padding-right: 330px;
}

h1 {
    font-size: 50px;
    padding-right: 350px;
}

.nav-item {
    font-size: 30px;
    padding: 8px;
}



