
footer {
    text-align: center;
    font-family: 'IM Fell English', serif;
    font-weight: bold;
    font-size: 30px;
    bottom:0;
}

body {
    height: 100%;
}

#container {
    min-height: 100%;

}

#main {
    overflow:auto;
    /* padding-bottom: 50px; */
}
